@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-sidebar {
  @apply flex flex-col items-center z-10;
}

.background {
  @apply h-full w-full z-0 bg-cv-color-gray-3;
}



/* ---------- H1 ---------- */

h1 {
  line-height: 49px;
  @apply text-cv-color-black-1 font-sans text-lg
}

.h1-magenta-2{
  text-shadow:
  -0.5px -0.5px 0 #F562F7,
   0   -0.5px 0 #F562F7,
   0.5px -0.5px 0 #F562F7,
   0.5px  0   0 #F562F7,
   0.5px  0.5px 0 #F562F7,
   0    0.5px 0 #F562F7,
  -0.5px  0.5px 0 #F562F7,
  -0.5px  0   0 #F562F7;
}

.h1-magenta-3{
  text-shadow:
  -0.5px -0.5px 0 #E7A0E8,
   0   -0.5px 0 #E7A0E8,
   0.5px -0.5px 0 #E7A0E8,
   0.5px  0   0 #E7A0E8,
   0.5px  0.5px 0 #E7A0E8,
   0    0.5px 0 #E7A0E8,
  -0.5px  0.5px 0 #E7A0E8,
  -0.5px  0   0 #E7A0E8;
}

/* -------- H1 END -------- */

/* ---------- H2 ---------- */

h2{
  line-height: 33px;
  @apply text-cv-color-black-1 font-sans text-base
}

.h2-cian-2{
  text-shadow:
  -0.5px -0.5px 0 #63F7F0,
   0   -0.5px 0 #63F7F0,
   0.5px -0.5px 0 #63F7F0,
   0.5px  0   0 #63F7F0,
   0.5px  0.5px 0 #63F7F0,
   0    0.5px 0 #63F7F0,
  -0.5px  0.5px 0 #63F7F0,
  -0.5px  0   0 #63F7F0;
}

/* -------- H2 END -------- */

p{
  line-height: 26px;
  @apply text-cv-color-black-1 font-sans text-sm
}

/* -------- H2 END -------- */